decentlab_ttn.json
[{"id":"3758ff93.c5e4f","type":"debug","z":"aa09f7eb.98fa6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":135,"wires":[]},{"id":"738a6321.efdcc4","type":"ttn uplink","z":"aa09f7eb.98fa6","name":"","app":"4ac4b3da.4c964c","dev_id":"3054","field":"","x":123,"y":134,"wires":[["3758ff93.c5e4f","f66b2203.0220f","1d4c1fe5.3eb338","ac3f4c56.10a5f8","b02c1493.90825","ec5c3196.758bd8","cf79a461.58a888","46a23be9.56dfa4","9a814167.7da788","e9006440.2eb778","5525d3d4.d56c74","b97593ea.092b48","7a57020b.31d034","c5f799f6.4a4e78","ea42c662.abd19","9315fb0.33f8d88"]]},{"id":"f66b2203.0220f","type":"function","z":"aa09f7eb.98fa6","name":"version","func":"var a={payload: msg.payload[0]};\nreturn a;","outputs":1,"noerr":0,"x":392.5,"y":187,"wires":[["136eac68.ef706c"]]},{"id":"136eac68.ef706c","type":"debug","z":"aa09f7eb.98fa6","name":"version","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":701.388916015625,"y":187.11106872558594,"wires":[]},{"id":"1d4c1fe5.3eb338","type":"function","z":"aa09f7eb.98fa6","name":"device id","func":"msg.payload = msg.payload.readUInt16BE(1)\nreturn msg;\n","outputs":1,"noerr":0,"x":379.8888397216797,"y":225.33330917358398,"wires":[["844b2df6.3e1128"]]},{"id":"844b2df6.3e1128","type":"debug","z":"aa09f7eb.98fa6","name":"device id","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":682.9443893432617,"y":226.3333215713501,"wires":[]},{"id":"b02c1493.90825","type":"function","z":"aa09f7eb.98fa6","name":"battery voltage","func":"msg.payload = msg.payload.readUInt16BE(5)/1000\nreturn msg;\n","outputs":1,"noerr":0,"x":394.4444274902344,"y":303.88884258270264,"wires":[["eca5bbc8.88dca8"]]},{"id":"eca5bbc8.88dca8","type":"debug","z":"aa09f7eb.98fa6","name":"battery voltage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":692.5,"y":306.6666135787964,"wires":[]},{"id":"ac3f4c56.10a5f8","type":"function","z":"aa09f7eb.98fa6","name":"flags","func":"msg.payload = msg.payload.readUInt16LE(3)\nreturn msg;\n","outputs":1,"noerr":0,"x":368.4444274902344,"y":264.66667461395264,"wires":[["dc6fcf6c.dc447"]]},{"id":"dc6fcf6c.dc447","type":"debug","z":"aa09f7eb.98fa6","name":"flags","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":673.4999656677246,"y":269.555552482605,"wires":[]},{"id":"ec5c3196.758bd8","type":"function","z":"aa09f7eb.98fa6","name":"air temperature","func":"msg.payload = ((msg.payload.readUInt16BE(7))/65535)*175-45;\nreturn msg;\n","outputs":1,"noerr":0,"x":397.6189498901367,"y":344.5555372238159,"wires":[["7f1e8609.6e87e"]]},{"id":"7f1e8609.6e87e","type":"debug","z":"aa09f7eb.98fa6","name":"air temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":703.72216796875,"y":344.3333616256714,"wires":[]},{"id":"cf79a461.58a888","type":"function","z":"aa09f7eb.98fa6","name":"air_humidity","func":"\nmsg.payload = ((msg.payload.readUInt16BE(9))/65535)*100;\nreturn msg;","outputs":1,"noerr":0,"x":383.02777099609375,"y":385.36113262176514,"wires":[["26784acd.ffbd1e"]]},{"id":"26784acd.ffbd1e","type":"debug","z":"aa09f7eb.98fa6","name":"air humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680.5277709960938,"y":386.36113262176514,"wires":[]},{"id":"46a23be9.56dfa4","type":"function","z":"aa09f7eb.98fa6","name":"barometric_pressure","func":"\nmsg.payload = (msg.payload.readUInt16BE(11))*2;\nreturn msg;","outputs":1,"noerr":0,"x":411.02777099609375,"y":426.36113262176514,"wires":[["1274d0fc.cd63b7"]]},{"id":"1274d0fc.cd63b7","type":"debug","z":"aa09f7eb.98fa6","name":"barometric_pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680.5277709960938,"y":427.36113262176514,"wires":[]},{"id":"9a814167.7da788","type":"function","z":"aa09f7eb.98fa6","name":"ambient_light_ch0","func":"\nmsg.payload = (msg.payload.readUInt16BE(13));\nreturn msg;","outputs":1,"noerr":0,"x":398.02777099609375,"y":463.36113262176514,"wires":[["bd2f2d52.c60738"]]},{"id":"bd2f2d52.c60738","type":"debug","z":"aa09f7eb.98fa6","name":"ambient_light_ch0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":662.5277709960938,"y":463.36113262176514,"wires":[]},{"id":"e9006440.2eb778","type":"function","z":"aa09f7eb.98fa6","name":"ambient_light_ch1","func":"\nmsg.payload = (msg.payload.readUInt16BE(15));\nreturn msg;","outputs":1,"noerr":0,"x":398.02777099609375,"y":505.36113262176514,"wires":[["66914194.c84998"]]},{"id":"66914194.c84998","type":"debug","z":"aa09f7eb.98fa6","name":"ambient_light_ch1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":651.5277709960938,"y":505.36113262176514,"wires":[]},{"id":"5525d3d4.d56c74","type":"function","z":"aa09f7eb.98fa6","name":"co2_concentration","func":"msg.payload = (msg.payload.readUInt16BE(17))-32768;\nreturn msg;","outputs":1,"noerr":0,"x":395.02777099609375,"y":543.3611326217651,"wires":[["42365572.63f254"]]},{"id":"42365572.63f254","type":"debug","z":"aa09f7eb.98fa6","name":"co2_concentration","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":648.5277709960938,"y":543.3611326217651,"wires":[]},{"id":"b97593ea.092b48","type":"function","z":"aa09f7eb.98fa6","name":"co2_sensor_status","func":"msg.payload = msg.payload.readUInt16BE(19);\nreturn msg;","outputs":1,"noerr":0,"x":396.02777099609375,"y":580.3611326217651,"wires":[["95308ed9.a7fa38"]]},{"id":"95308ed9.a7fa38","type":"debug","z":"aa09f7eb.98fa6","name":"co2_sensor_status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":643.5277709960938,"y":580.3611326217651,"wires":[]},{"id":"7a57020b.31d034","type":"function","z":"aa09f7eb.98fa6","name":"Raw_IR_reading","func":"msg.payload = msg.payload.readUInt16BE(21);\nreturn msg;","outputs":1,"noerr":0,"x":394.02777099609375,"y":617.3611326217651,"wires":[["3d67638d.8e1f44"]]},{"id":"3d67638d.8e1f44","type":"debug","z":"aa09f7eb.98fa6","name":"Raw_IR_reading","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":645.5277709960938,"y":617.3611326217651,"wires":[]},{"id":"c5f799f6.4a4e78","type":"function","z":"aa09f7eb.98fa6","name":"PIR_activity_counter","func":"msg.payload = msg.payload.readUInt16BE(23);\nreturn msg;","outputs":1,"noerr":0,"x":401.02777099609375,"y":655.3611326217651,"wires":[["babbb048.d3fed"]]},{"id":"babbb048.d3fed","type":"debug","z":"aa09f7eb.98fa6","name":"PIR_activity_counter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":656.5277709960938,"y":655.3611326217651,"wires":[]},{"id":"ea42c662.abd19","type":"function","z":"aa09f7eb.98fa6","name":"Gas_sensor_total_VOC","func":"msg.payload = msg.payload.readUInt16BE(25);\nreturn msg;","outputs":1,"noerr":0,"x":411.02777099609375,"y":692.3611326217651,"wires":[["8ba3b561.5286"]]},{"id":"8ba3b561.5286","type":"debug","z":"aa09f7eb.98fa6","name":"Gas_sensor_total_VOC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":671.5277709960938,"y":692.3611326217651,"wires":[]},{"id":"9315fb0.33f8d88","type":"function","z":"aa09f7eb.98fa6","name":"data in JSON pairs","func":"var version = msg.payload[0];\nvar device_id = msg.payload.readUInt16BE(1);\nvar flags = msg.payload.readUInt16LE(3);\nvar battery_voltage = msg.payload.readUInt16BE(5)/1000;\nvar air_temperature = parseFloat((((msg.payload.readUInt16BE(7))/65535)*175-45).toFixed(2));\nvar air_humidity = parseFloat((((msg.payload.readUInt16BE(9))/65535)*100).toFixed(2));\nvar barometric_pressure = (msg.payload.readUInt16BE(11))*2;\nvar ambient_light_CH0 = msg.payload.readUInt16BE(13);\nvar ambient_light_CH1 = msg.payload.readUInt16BE(15);\nvar co2_concentration = (msg.payload.readUInt16BE(17))-32768;\nvar co2_sensor_status = msg.payload.readUInt16BE(19);\nvar Raw_IR_reading = msg.payload.readUInt16BE(21);\nvar PIR_activity_counter = msg.payload.readUInt16BE(23);\nvar Gas_sensor_total_VOC = msg.payload.readUInt16BE(25);\n\n//etc...\nreturn {payload:{version:version,\ndevide_id:device_id,\nflags:flags,\nbattery_voltage:battery_voltage,\nair_temperature:air_temperature,\nair_humidity:air_humidity,\nbarometric_pressure:barometric_pressure,\nambient_light_CH0:ambient_light_CH0,\nambient_light_CH1:ambient_light_CH1,\nco2_concentration:co2_concentration,\nco2_sensor_status:co2_sensor_status,\nRaw_IR_reading:Raw_IR_reading,\nPIR_activity_counter:PIR_activity_counter,\nGas_sensor_total_VOC:Gas_sensor_total_VOC\n}}","outputs":1,"noerr":0,"x":429.5,"y":92,"wires":[["4e5efb0b.19eaac","6432794.51cb388"]]},{"id":"4e5efb0b.19eaac","type":"debug","z":"aa09f7eb.98fa6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":697.5,"y":47,"wires":[]},{"id":"6432794.51cb388","type":"influxdb out","z":"aa09f7eb.98fa6","influxdb":"35fabe3e.f29582","name":"","measurement":"ambient_data","precision":"","retentionPolicy":"","x":783.5,"y":94,"wires":[]},{"id":"4ac4b3da.4c964c","type":"ttn app","z":"3110bb30.088a64","appId":"decentlab1632020","accessKey":"ttn-account-v2.DzM80Nz6-Yj3XQjVUtd18RKEwJWd6ckrpvX4Ymn8hO8","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"35fabe3e.f29582","type":"influxdb","z":"3110bb30.088a64","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"DECENTLAB","name":"","usetls":false,"tls":""}]